body {
	background-color: #00acb0;
	font-family: Helvetica, sans-serif;
	color: white;
	margin: 50px auto auto 50px;
}

.numButton {
	height: 40px;
	width: 60px;
	margin: 5px;
}

.active {
	height: 40px;
	width: 60px;
	margin: 5px;
	background-color: gray;

}

.studentgroup {
	float: left;
	margin: 15px;
}